.react-3d-carousel .slider-container .slider-right div {
  position: absolute;
  top: 50%;
  left: 0%;
  margin-top: -20px;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 10px 10px;
  border: none;
  font-size: 25px;
  color: #3f3b3b;
}

.react-3d-carousel .slider-container .slider-left div {
  position: absolute;
  top: 50%;
  left: 0%;
  margin-top: -20px;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 10px 10px;
  border: none;
  font-size: 25px;
  color: #3f3b3b;
}
